<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Actualizar una classificacio</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/natacio.css"
          th:href="@{/css/natacio.css}"/>
</head>
<body>
<div layout:fragment="content">
<h2>Classificacio a actualitzar</h2>
<form action="#" th:action="@{/classificacio/update}"
      th:object="${classificacio}" method="post">
    <table>
        <tr>
            <td><label>Nom Nadaddor</label></td>
            <td><input type="text" th:field="*{nomNadador}" /></td>
        </tr>
        <tr>
            <td><label>Nom Prova</label></td>
            <td><input type="text" th:field="*{nomProva}" /></td>
        </tr>
        <tr>
            <td><label>Posicio</label></td>
            <td><input type="number" th:field="*{posicio}" /></td>
        </tr>
        <tr>
            <td><label>Temps</label></td>
            <td><input type="text" th:field="*{temps}" /></td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Actualiza classificacio" /></td>
        </tr>
    </table>
</form>
</div>
</body>
</html>