<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> ①
<head>
    <title>EI1027</title>
    <meta charset="UTF-8"/>
    <!-- Afegim una fulla d’estil (Bootstrap) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/natacio.css"
          th:href="@{/css/natacio.css}"/>
</head>
<body>
<h1>Prova del controlador</h1>
<p>El missatge és: <i th:text="${message}"></i></p> ②
<a href="/">Tornar</a>
</body>
</html>
