<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/natacio.css"
          th:href="@{/css/natacio.css}"/>
    <title>Login</title>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>

</head>
<body>
<div layout:fragment="content">

<table th:unless="${#lists.isEmpty(users)}"  class="table table-condensed">
    <thead>
    <tr>
        <th>Nom d'usuari</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.username}"></td>
    </tr>
    </tbody>
</table>
<a href="/" class="btn btn-primary" role="button">Tornar</a>
</div>
</body>
</html>
